
body {
    font-family: 'Georgia', serif;
    background-color: #32394b;
    color: #A6BECD;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #FFFFFF;
    margin: 0;
    font-weight: normal;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

.highlight {
    color: #A6BECD;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    background-color: #0E73AA;
    padding: 20px 0;
}

header h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #A6BECD;
    font-size: 18px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #FFFFFF;
}

section {
    padding: 60px 0;
    border-bottom: 1px solid #2C313A;
}

#above p {
    max-width: 600px;
    margin: 20px auto;
    color: #A6BECD;
}

.btn {
    background-color: #A6BECD;
    color: #1B1E25;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #1B1E25;
}

#About .About-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.About-item {
    background-color: #2C313A;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.About-item-2 {
    background-color: #2C313A;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.About-item h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.blank-pic {
    width: 200px;
    height: 275px;
    background-color: #A6BECD;
    border: 2px solid #2C313A;
    object-fit: cover;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.About-item p {
    color: #A6BECD;
}

#favorites .favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.favorite-item {
    background-color: #2C313A;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.favorite-item h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.favorite-item p {
    color: #A6BECD;
}

#project .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.project-item {
    background-color: #2C313A;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.project-item img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 0px;
}

.project-item h3 {
    margin: 0px;
    color: #FFFFFF;
}

.project-item p {
    color: #A6BECD;
    margin-top: 5px;
}


#contact p {
    max-width: 600px;
    margin: 20px auto;
    color: #A6BECD;
}

.github-icon i {
    color: #636363;
    font-size: 35px;
}

.facebook-icon i {
    color: #6a89cc;
    font-size: 30px;
}

.email-icon i {
    color: #D44638;
    font-size: 32px;
}

.fa {
    margin-right: 15px;
    margin-left: 15px;
}

.github-icon, .facebook-icon, .email-icon {
    text-decoration: none;
    color: inherit;
}

.github-icon:hover i {
    color: #bbbbbb;
    transform: scale(1.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

.facebook-icon:hover i {
    color: #395ca8;
    transform: scale(1.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

.email-icon:hover i {
    color: #ff6347;
    transform: scale(1.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

@media all and (max-width: 768px) {
    header h1 {
        font-size: 30px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    #About .About-grid, #favorites .favorites-grid, #project .project-grid {
        grid-template-columns: 1fr;
    }
}

.dark-mode-toggle {
    background: transparent;
    border: none;
    color: #A6BECD;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

body.dark-mode {
    background-color: #d8d5cf;
    color: #1B1E25;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #1B1E25;
}

body.dark-mode .highlight {
    color: #1B1E25;
}

body.dark-mode header {
    background-color: #f1f1f1;
}

body.dark-mode .container {
    color: #1B1E25;
}

body.dark-mode nav ul li a {
    color: #1B1E25;
}

body.dark-mode nav ul li a:hover {
    color: #FFFFFF;
}

body.dark-mode .btn {
    background-color: #1B1E25;
    color: #A6BECD;
}

body.dark-mode .btn:hover {
    background-color: #2C313A;
    color: #FFFFFF;
}

body.dark-mode .About-item,
body.dark-mode .About-item-2,
body.dark-mode .favorite-item,
body.dark-mode .project-item {
    background-color: #A6BECD;
    color: #1B1E25;
}

body.dark-mode .github-icon i,
body.dark-mode .facebook-icon i,
body.dark-mode .email-icon i {
    color: #1B1E25;
}

body, h1, h2, h3, .highlight, header, nav ul li a, .btn, .About-item, .favorite-item, .project-item {
    transition: background-color 0.7s ease, color 0.7s ease;
}
