body {
    font-family: 'Georgia', serif;
    background-color: #1B1E25; 
    color: #A6BECD; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #FFFFFF;
    margin: 0;
    font-weight: normal;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
html {
    scroll-behavior: smooth;
}
.highlight {
    color: #A6BECD; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #2C313A;
    padding: 20px 0;
}

header h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #A6BECD;
    font-size: 18px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #FFFFFF;
}

section {
    padding: 60px 0;
    border-bottom: 1px solid #2C313A;
}

#above p {
    max-width: 600px;
    margin: 20px auto;
    color: #A6BECD;
}

.btn {
    background-color: #A6BECD;
    color: #1B1E25;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #1B1E25;
}

#About .About-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.About-item {
    background-color: #2C313A;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.About-item-2 {
    background-color: #2C313A;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.About-item h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}
.blank-pic {
    width: 200px; 
    height: 275px; 
    background-color: #A6BECD; 
    border: 2px solid #2C313A;
    object-fit: cover;
    margin-top: 10px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.About-item p {
    color: #A6BECD;
}

#favorites .favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.favorite-item {
    background-color: #2C313A;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.favorite-item h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.favorite-item p {
    color: #A6BECD;
}

#project .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Similar grid layout as favorites */
    gap: 20px; /* Matching gap size */
}

.project-item {
    background-color: #2C313A;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.project-item img {
    max-width: 100%;
    height: auto;
}

.project-item h3 {
    margin: 10px 0;
    color: #FFFFFF;
}


#contact p {
    max-width: 600px;
    margin: 20px auto;
    color: #A6BECD;
}

.github-icon i {
    color: #636363; 
    font-size: 35px; 
}

.facebook-icon i {
    color: #6987c9; 
    font-size: 30px;
}

.email-icon i {
    color: #D44638; 
    font-size: 32px; 
}

.fa {
    margin-right: 15px;
    margin-left: 15px;
}

.github-icon, .facebook-icon, .email-icon {
    text-decoration: none;
    color: inherit;
}
